@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: Sansita Swashed,Arial, serif;
}
.banner{
   width: 100%;
}
header{
    margin-left: 3rem;
    margin-right: 3rem;
}
h1{
    text-align: center;
    font-size: 6rem; 
    font-family: Sansita Swashed,Arial, serif;
}

h2{

    font-size: 2rem;
    font-family: Sansita Swashed,Arial, serif;

}

.container{
    align-items: center;
    margin: 0,10rem,0,10rem;
}

.card{
    background-color: rgb(69, 59, 211);
    max-width: 400rem;
    margin: 2rem 21rem 2rem;
    padding: 25px;
    border-radius: 25px;
    text-align: justify;
    align-content: center;
    flex-direction: row;
    justify-content:space-around ;
    color: aliceblue;
}

.btn{
    align-items: center;
    padding: 2%;
    width: 10%;
    color: aliceblue;
    background-color: rgb(117, 9, 144);
    border: solid 1px rgb(2, 6, 54) ;
    border-radius: 10px;
    margin-left: 45%;
    margin-right: 55%;
    text-align: center;
    user-select: none;
    cursor:pointer;
    
}

.btn:hover{
    background-color: rgb(69, 59, 211);
    transition: all 0.5s ease-in-out 0s;
}

img{
    width: 100%;

}



.rodape a{
    display: flex;
    background-color: rgb(69, 59, 211);
    justify-content: center;
    font-family: Sansita Swashed,Arial, serif;
    color: #ffffff;
    margin-top: 0%;
    text-decoration: none;
}
